<template>
    <div class="animalDescription">
        <h3>Имя: {{animal.name}}</h3>
        <h3>Тип: {{animal.kind}}</h3>
        <h3>Возраст: {{this.age}}</h3>
        <h3>Размер: {{this.size}}</h3>
    </div>
</template>

<script>
export default {
    name: 'AnimalDescription',
    props: ['animal',],
    data() {
        return {
            age: this.animal.age,
            size: this.animal.size
        }
    },
    mounted() {
        this.emitter.on('updateAnimalAge', (animal) => {
            console.log('updateAnimalAge: ' + animal.age)
            if (animal.name === this.animal.name) {
                console.log('changeAge')
                this.age = animal.age
            }
        })
        this.emitter.on('updateAnimalSize', (animal) => {
            if (animal.name === this.animal.name) {
                this.size = animal.size
            }
        })
    }
}
</script>

<style scoped>
.animalDescription {
    height: 200px;
    width: 100%;

    padding-left: 10px;

    border: 5px solid black;
    border-radius: 20px;
}
</style>