<template>
    <div class="animal">
        <img :src="require(`@/assets/${this.animal.kind}.png`)">
    </div>
</template>

<script>
export default {
    name: 'Animal',
    props: ['animal'],
    methods: {
        changeAnimalSize() {
            window.Echo.channel('animalSize')
                .listen('AnimalSizeMessage', (e) => {
                    if (this.animal.name === e.name) {
                        const size = e.size
                        this.$el.style.width = `${size}px`
                        this.$el.style.height = `${size}px`
                        this.emitter.emit('updateAnimalAge', {
                            name: e.name, 
                            age: e.age
                        })
                        this.emitter.emit('updateAnimalSize', {
                            name: e.name,
                            size: e.size
                        })
                    }
                })
        }
    },
    mounted() {
        this.changeAnimalSize()
    }
}
</script>

<style scoped>
.animal {
    width: 50px;
    height: 50px;

    margin: 20px;
}

.animal > img {
    width: 100%;
    height: 100%;
}
</style>