<template>
    <div class="animalCage">
        <Animal :animal="animal" />
        <AnimalDescription :animal="animal" />
        <div class="removeAnimal"
            v-on:click="removeAnimal"
        >Удалить</div>
    </div>
</template>

<script>
import Animal from './Animal.vue'
import AnimalDescription from './AnimalDescription.vue'

export default {
    name: 'AnimalCage',
    components: {
        Animal,
        AnimalDescription,
    },
    props: ['animal',],
    methods: {
        removeAnimal() {
            const name = this.animal.name
            this.axios.get(`http://0.0.0.0:9000/removeAnimal/${name}`).then(res => {
                if (res.status === 200) {
                    this.emitter.emit('removeAnimal', name)
                }
            }).catch(err => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped>
.animalCage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-left: 40px;

    height: 100%;
}

.removeAnimal {
    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    margin-bottom: 10px;
}
</style>