<template>
    <div class="animalsField">
        <AnimalCage
            v-for="animal in animals" :key="animal" 
            :animal="animal"   
        />
    </div>
</template>

<script>
import AnimalCage from './AnimalCage.vue'

export default {
    name: 'AnimalsField',
    components: {
        AnimalCage,
    },
    data() {
        return {
            animals: []
        }
    },
    mounted() {
        this.emitter.on('addAnimal', animal => {
            this.animals.push(animal)
        })
        this.emitter.on('removeAnimal', name => {
            this.animals = this.animals.filter(animal => {
                return !(animal.name === name)
            })
        })
    }
}
</script>

<style scoped>
.animalsField {
    display: flex;
    width: 1000px;
    height: 500px;

    margin-left: 40px;
    margin-top: 40px;

    background-color: #82f578;

    border-radius: 20px;
}
</style>