<template>
  <div class="main">
      <AddAnimalsPanel />
      <AnimalsField />
  </div>
</template>

<script>
import AddAnimalsPanel from './AddAnimalsPanel/AddAnimalsPanel.vue'
import AnimalsField from './AnimalsField.vue'

export default {
    name: 'Main',
    components: {
        AddAnimalsPanel,
        AnimalsField,
    }
}
</script>

<style scoped>
.main {
    width: 100%;
    height: 100%;
    background-color: #8bcaf7;

    display: flex;
    flex-direction: column;
}
</style>