<template>
  <Main />
</template>

<script>
import Main from './components/Main.vue'

export default {
  name: 'App',
  components: {
    Main
  }
}
</script>

<style>
html {
  width: 100%;
  height: 100%;

  margin: 0;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}
</style>
