<template>
    <div class="addAnimalsPanel">
        <div 
            class="addAnimalsButton" 
            v-on:click="togglePanel"
        >
        <h1 v-if="!isPanelExpanded">+</h1>
        <h1 v-if="isPanelExpanded">-</h1>
        </div>
        <AnimalsPanel v-if="isPanelExpanded" />
    </div>
</template>

<script>
import AnimalsPanel from './AnimalsPanel.vue'

export default {
    name: 'AddAnimalsPanel',
    components: {
        AnimalsPanel,
    },
    data() {
        return {
            isPanelExpanded: false,
        }
    },
    methods: {
        togglePanel(event) {
            this.isPanelExpanded = !this.isPanelExpanded
            event.currentTarget.classList.toggle('addAnimalsButtonWithPanel')
        }
    }
}
</script>

<style scoped>
.addAnimalsPanel {
    display: flex;
    flex-direction: row;

    margin-top: 40px;
    margin-left: 40px;
}

.addAnimalsButton {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 20px;

    background-color: #f7d38b;
}

.addAnimalsButton.addAnimalsButtonWithPanel {
    border-radius: 20px 0px 0px 20px;
}
</style>