<template>
    <div class="addAnimalForm">
        <label>
            <p v-if="isNameError">{{this.nameError}}</p>
            Имя:
            <input type="text" name="name" v-model="name">
        </label>
        <label>
            Возраст:
            <input type="text" name="age" v-model="age">
        </label>
        <label>
            Размер:
            <input type="text" name="size" v-model="size">
        </label>
        <input type="submit" v-on:click="createAnimal($event)">
    </div>
</template>

<script>
export default {
    name: 'AddAnimalForm',
    props: ['kind',],
    data() {
        return {
            name: null,
            age: null,
            size: null,
            isNameError: false,
            nameError: null
        }
    },
    methods: {
        createAnimal(event) {
            event.preventDefault()
            if (this.name === null || this.name === '') {
                this.isNameError = true
                this.$el.classList.add('addAnimalFormWithErrors')
                this.nameError = "Имя не может быть пустым"
                return
            }

            this.isNameError = false
            this.$el.classList.remove('addAnimalFormWithErrors')

            const body = {
                'kind': this.kind,
                'name': this.name,
                'age': this.age,
                'size': this.size,
            }
            const url = 'http://0.0.0.0:9000/animals'
            this.axios.post(url, body).then(res => {
                if (res.status === 201 && res.statusText === 'Created') {
                    this.emitter.emit('addAnimal', body)
                    this.$emit('closeAddAnimalForm')
                }
            }).catch(() => {
                this.$emit('closeAddAnimalForm')
                this.emitter.emit('showAddAnimalError')
            })
        }
    }
}
</script>

<style scoped>
.addAnimalForm {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

    width: 220px;
    height: 190px;

    border-radius: 20px;

    background-color: #f7d38b;
}

.addAnimalForm.addAnimalFormWithErrors {
    height: 240px;
}

.addAnimalForm > label {
    margin-top: 10px;
    margin-left: 15px;
}

.addAnimalForm > input {
    margin-top: 10px;
}
</style>