<template>
    <div class="animalsPanel">
        <div 
            class="animalLogo" 
            v-for="animal in animals" 
            :key="animal"
        >
            <img
                class="animalImage"
                :src="require(`@/assets/${animal.kind}.png`)"
                v-on:click="showAddAnimalForm(animal.kind)"    
            >
            <AddAnimalForm 
                v-if="checkFormVisibility(animal.kind)" 
                :kind="animal.kind"
                v-on:closeAddAnimalForm="closeAddAnimalForm"
            />
        </div>
    </div>
</template>

<script>
import AddAnimalForm from './AddAnimalForm.vue'

export default {
    name: 'AnimalsPanel',
    components: {
        AddAnimalForm,
    },
    data() {
        return {
            animals: [],
            formAnimal: null,
        }
    },
    methods: {
        showAddAnimalForm(animal) {
            // Проверяем, установлено ли животное для формы
            const isAnimalSet = !(this.formAnimal === null)
            if (isAnimalSet && !(this.formAnimal === animal)) {
                return false
            }

            this.formAnimal = isAnimalSet ? null : animal;
        },
        checkFormVisibility(animal) {
            return animal === this.formAnimal
        },
        getAnimalsKinds() {
            this.axios.get('http://0.0.0.0:9000/animalKinds').then(res => {
                if (res.status === 200) {
                    this.animals = res.data.data
                }
            }).catch(err => {
                console.log(err)
            })
        },
        closeAddAnimalForm() {
            this.formAnimal = null
        }
    },
    mounted() {
        this.getAnimalsKinds()
    }
}
</script>

<style scoped>
.animalsPanel {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 600px;
    height: 50px;

    border-radius: 0px 20px 20px 0px;
    background-color: #f7d38b;
}

.animalLogo {
    width: 40px;
    height: 40px;

    margin-right: 10px;
}

.animalImage {
    width: 40px;
    height: 40px;

    border-radius: 20px;
    border: 2px solid black;
}

.animalImageWithForm {
    position: relative;
}
</style>